// @import '~@/uni_modules/lime-style/index.scss';
// $empty-padding: create-var(empty-padding, $spacer-lg 0);
// $empty-image-size: create-var(empty-image-size, 200px);
// $empty-description-margin-top: create-var(empty-description-margin-top, $spacer-md);
// $empty-description-padding: create-var(empty-description-padding, 0 60px);
// $empty-description-color: create-var(empty-description-color, $text-color-3);
// $empty-description-font-size: create-var(empty-description-font-size, $font-size);
// $empty-description-line-height: create-var(empty-description-line-height, $line-height);



$empty-padding: 64rpx 0;
$empty-image-size: 200px;
$empty-description-margin-top: 48rpx;
$empty-description-padding: 0 60px;
$empty-description-color: rgba(0,0,0,0.45);
$empty-description-font-size: 28rpx;
$empty-description-line-height: 1.5714285714285714;

.l-empty {
	/* #ifndef UNI-APP-X */
	display: flex;
	flex-direction: column;
	/* #endif */
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: $empty-padding;
	
	
	&__image {
		width: $empty-image-size;
		// height: $empty-image-size;
	}
	
	&__description {
	    margin-top: $empty-description-margin-top;
	    padding: $empty-description-padding;
	    color: $empty-description-color;
	    font-size: $empty-description-font-size;
	    line-height: $empty-description-line-height;
	}
	&__bottom {
		 margin-top: $empty-description-margin-top;
	}
}